<div class="canvas-title">
  <h1>{{ canvas?.name }}</h1>
</div>
<div class="card-holder">
  <app-network-traversal-card
    [ngClass]="{
      'slide-card': true,
      'slide-card-right':
        (cardASelected && animating) || (!cardASelected && !animating),
      'slide-card-center': cardASelected,
      'slide-card-left': !cardASelected && animating,
      'slide-card-invisible': !animating && !cardASelected
    }"
    *ngIf="selectedCardA"
    [card]="selectedCardA.card"
    [options]="selectedCardA.options"
    (optionSelected)="optionSelectedEvent($event)"
    (endTraversal)="endTraversalEvent()"
    class="slide-card-center"
  ></app-network-traversal-card>
  <app-network-traversal-card
    [ngClass]="{
      'slide-card': true,
      'slide-card-right':
        (!cardASelected && animating) || (cardASelected && !animating),
      'slide-card-center': !cardASelected,
      'slide-card-left': cardASelected && animating,
      'slide-card-invisible': !animating && cardASelected
    }"
    *ngIf="selectedCardB"
    [card]="selectedCardB.card"
    [options]="selectedCardB.options"
    (optionSelected)="optionSelectedEvent($event)"
    (endTraversal)="endTraversalEvent()"
    class="slide-card-center"
  ></app-network-traversal-card>
</div>
