<div class="option-holder">
  <button
    class="red-button"
    class="shrink-button"
    mat-icon-button
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-form-field subscriptSizing="dynamic" class="grow-form-field">
    <mat-label>Option</mat-label>
    <input matInput [(ngModel)]="model.Text" />
  </mat-form-field>
  <button
    #connectButton
    class="shrink-button"
    mat-icon-button
    (click)="connect()"
  >
    <mat-icon>settings_ethernet</mat-icon>
  </button>
</div>
