.card-header {
  justify-content: space-around;
  margin-bottom: 1rem;
}

.card-description {
  text-align: center;
  margin: 1rem 0;
}

.vertical-buttons {
  flex-direction: column;
}

.wide-button {
  width: 100%;
}
