.spacer {
  flex-grow: 1;
}

.double-button {
  font-size: 1rem;
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;

    mat-icon {
      padding-right: 1rem;
    }
  }
}

.tall-form-field {
  margin-top: 2rem;
}
