<mat-card class="node-card">
  <mat-card-header
    class="wide-text-area-header card-handle"
    (mousedown)="mouseDown($event)"
    (mouseup)="mouseUp()"
    (mouseleave)="mouseLeave()"
    (mousemove)="mouseMoveDrag($event)"
  >
    <mat-card-title class="wide-text-area-header">
      <div class="card-close-header">
        <span class="spacer"></span>
        <button
          class="red-button"
          *ngIf="isClosable"
          mat-icon-button
          (click)="close()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-centered">
      <button
        #connectButton
        class="shrink-button"
        mat-icon-button
        (click)="connectCard()"
      >
        <mat-icon>settings_ethernet</mat-icon>
      </button>
      <mat-form-field subscriptSizing="dynamic" class="wide-text-area-header">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="model.title" />
      </mat-form-field>
    </div>

    <mat-form-field class="wide-text-area-header">
      <mat-label>Description</mat-label>
      <textarea #myTextArea matInput [(ngModel)]="model.description"></textarea>
    </mat-form-field>
    <div *ngFor="let option of model.options">
      <app-network-programmer-option
        [model]="option"
        (closeEvent)="closeOption($event)"
        (connectEvent)="connectOption($event)"
        class="width-fill option-block"
      ></app-network-programmer-option>
    </div>
    <button class="width-fill" mat-button (click)="addOption()">Add</button>
  </mat-card-content>
</mat-card>
